/*https://colorscheme.ru/#4L11Tw0w0w0w0*/

body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
}

.search-button {
    border: white;
    background-color: #FFB273;
    color: white;
}

.search-button:hover {
    background-color: white;
    color: #FFB273;
}

.main-color {
    background-color: #FF9640 !important;
    color: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    padding: 5px;
}

.nav-link {
    color: white !important;
    font-weight: 900;
}

.navbar-brand {
    color: white !important;
    font-weight: 900;
    font-size: 24px;
}

.card {
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    padding: 5px;
}

.contract-header {
    color: #FF9640;
}

a {
    color: #FFB273;
}

a:hover {
    color: #FF9640;
}

table {
    table-layout: fixed;
}

.purchase-bar {
    margin-top: 20px;
    margin-bottom: 40px;
}

.progress {
    cursor: pointer;
}

.progress-bar {
    font-size: 16px;
    font-weight: bold;
}

.subtable {
    background-color: #F5F5F5;
}

.pointer {
    cursor: pointer;
}

.pagination {
    margin: 40px;
    justify-content: center;
    font-size: 20px;
}

.landing-main {
    height: 300px;
}

.landing-card {
    margin: 15px;
    margin-top: 40px;
}

.card-text{
    font-size: 20px;
}
