{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tags %}
{% block title %}
    Компании
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="get" action="/companies/" class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <h5><label for="name">Название:</label></h5>
                            <input type="text" class="form-control" name="name" id="name" value="{{ form.name }}">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <h5><label for="inn">ИНН:</label></h5>
                            <input type="text" class="form-control" name="inn" id="inn" value="{{ form.inn }}">
                        </div>
                    </div>
                    <div class="col-2 center" style="margin-top: 35px">
                        <button type="submit" class="btn btn-lg my-2 my-sm-0 search-button">Искать</button>
                    </div>
                </form>
            </div>
        </div>
        {% for company in companies %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h4 class="contract-header">
                            <a href="/companies/{{ company.company.id }}/"> {{ company.company.name }}</a>
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5><b>Информация</b></h5>
                            <h6><b>ИНН</b>: {{ company.company.inn }}</h6>
                            {% if company.company.email %}
                                <h6><b>Email:</b> {{ company.company.email }}</h6>
                            {% endif %}
                            {% if company.company.address %}
                                <h6><b>Адрес: </b>{{ company.company.address }}</h6>
                            {% endif %}
                            {% if company.company.phone %}
                                <h6><b>Телефон:</b> {{ company.company.phone }}</h6>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h5><b>Контракты</b></h5>
                            <h6><b>Выполнено контрактов за год:</b> {{ company.contracts_provider|default:"0" }}</h6>
                            {% if company.contracts_provider_sum %}
                                <h6><b>На сумму:</b> {{ company.contracts_provider_sum|floatformat:2|intcomma }} рублей
                                </h6>
                            {% endif %}
                            <h6><b>Закрыто контрактов за год:</b> {{ company.contracts_customer|default:"0" }}</h6>
                            {% if company.contracts_customer_sum %}
                                <h6><b>На сумму:</b> {{ company.contracts_customer_sum|floatformat:2|intcomma }} рублей
                                </h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">Назад</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">Вперед</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}