{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load tags %}
{% block title %}
    {{ company.company.inn }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h4 class="contract-header">
                        <a href="/companies/{{ company.company.id }}/"> {{ company.company.name }}</a>
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5><b>Информация</b></h5>
                        <h6><b>ИНН</b>: {{ company.company.inn }}</h6>
                        {% if company.company.email %}
                            <h6><b>Email:</b> {{ company.company.email }}</h6>
                        {% endif %}
                        {% if company.company.address %}
                            <h6><b>Адрес: </b>{{ company.company.address }}</h6>
                        {% endif %}
                        {% if company.company.phone %}
                            <h6><b>Телефон:</b> {{ company.company.phone }}</h6>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h5><b>Контракты</b></h5>
                        <h6><b>Выполнено контрактов за год:</b> {{ company.contracts_provider|default:"0" }}</h6>
                        {% if company.contracts_provider_sum %}
                            <h6><b>На сумму:</b> {{ company.contracts_provider_sum|floatformat:2|intcomma }} рублей
                            </h6>
                        {% endif %}
                        <h6><b>Закрыто контрактов за год:</b> {{ company.contracts_customer|default:"0" }}</h6>
                        {% if company.contracts_customer_sum %}
                            <h6><b>На сумму:</b> {{ company.contracts_customer_sum|floatformat:2|intcomma }} рублей
                            </h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="get" action="/companies/{{ company.company.pk }}/" class="row">
                    <div class="col-3">
                        <h5>Начало контракта</h5>
                        <div class="form-group">
                            <label for="start_date_bot">Контракт начан после:</label>
                            <input type="date" class="form-control" name="start_date_bot" id="start_date_bot"
                                   value={{ form.start_date_bot|date:"c" }}>
                        </div>
                        <div class="form-group">
                            <label for="start_date_bot">Контракт начан до:</label>
                            <input type="date" class="form-control" name="start_date_top" id="start_date_top"
                                   value={{ form.start_date_top|date:"c" }}>
                        </div>
                        <h5>Конец контрака</h5>
                        <div class="form-group">
                            <label for="start_date_bot">Контракт закончится после:</label>
                            <input type="date" class="form-control" name="end_date_bot" id="end_date_bot"
                                   value={{ form.end_date_bot|date:"c" }}>
                        </div>
                        <div class="form-group">
                            <label for="start_date_bot">Контракт закончится до:</label>
                            <input type="date" class="form-control" name="end_date_top" id="end_date_top"
                                   value={{ form.end_date_top|date:"c" }}>
                        </div>
                    </div>
                    <div class="col-3">
                        <h5>Заказчик</h5>
                        <div class="form-group">
                            <label for="customer_inn">ИНН:</label>
                            <input type="text" class="form-control" name="customer_inn"
                                   id="customer_inn" value="{{ form.customer_inn }}">
                        </div>
                        <div class="form-group">
                            <label for="customer_name">Название:</label>
                            <input type="text" class="form-control" name="customer_name" id="customer_name"
                                   value="{{ form.customer_name }}">
                        </div>
                        <h5>Поставщик</h5>
                        <div class="form-group">
                            <label for="provider_inn">ИНН:</label>
                            <input type="text" class="form-control" name="provider_inn" id="provider_inn"
                                   value="{{ form.provider_inn }}">
                        </div>
                        <div class="form-group">
                            <label for="provider_name">Название:</label>
                            <input type="text" class="form-control" name="provider_name" id="provider_name"
                                   value="{{ form.provider_name }}">
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>Цена контракта</h5>
                        <div class="form-group">
                            <label for="final_price_bot">Больше:</label>
                            <input type="number" class="form-control" name="final_price_bot" id="final_price_bot"
                                   value={{ form.final_price_bot }}>
                        </div>
                        <div class="form-group">
                            <label for="final_price_top">Меньше:</label>
                            <input type="number" class="form-control" name="final_price_top" id="final_price_top"
                                   value="{{ form.final_price_top }}">
                        </div>
                        <h5>Типы контрактов</h5>
                        <div class="form-group">
                            <label for="status">Статус:</label>
                            <select class="form-control" name="status" id="status">
                                <option value="">Все</option>
                                {% for status in statuses %}
                                    {% if form.status == status.value %}
                                        <option selected value="{{ status.value }}">{{ status.label }}</option>
                                    {% else %}
                                        <option value="{{ status.value }}">{{ status.label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="provider_type">Способ выбора поставщика:</label>
                            <select class="form-control" name="provider_type" id="provider_type">
                                <option value="">Все</option>
                                {% for provider_type in provider_types %}
                                    {% if form.provider_type == provider_type.value %}
                                        <option selected
                                                value="{{ provider_type.value }}">{{ provider_type.label }}</option>
                                    {% else %}
                                        <option value="{{ provider_type.value }}">{{ provider_type.label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 center">
                        <button type="submit" class="btn btn-lg my-2 my-sm-0 search-button float-right">Искать</button>
                    </div>
                </form>
            </div>
        </div>
        {% for contract in contract_list %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h4 class="contract-header">
                            <a href="/contracts/{{ contract.id }}/">Контракт № {{ contract.reg_number }}</a>
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h6><b>{{ contract.final_price|floatformat:2|intcomma }} рублей</b></h6>
                            <h6>{{ contract.get_status_display }}</h6>
                        </div>
                        <div class="col-5">
                            <h6> Заказчик: <a href="/companies/{{ contract.customer_id }}/">
                                {% if contract.customer.verbose_name %}
                                    {{ contract.customer.verbose_name }}
                                {% else %}
                                    {{ contract.customer.name }}
                                {% endif %}
                            </a></h6>
                            <h6> Поставщик: <a href="/companies/{{ contract.provider_id }}/">
                                {% if contract.provider.verbose_name %}
                                    {{ contract.provider.verbose_name }}
                                {% else %}
                                    {{ contract.provider.name }}
                                {% endif %}
                            </a>
                            </h6>
                        </div>
                        <div class="col-4">
                            <h6>Дата начала:<b class="float-right">{{ contract.start_date }}</b></h6>
                            <h6>Дата окончания: <b class="float-right">{{ contract.end_date }}</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not contract_list %}
            <div class="row justify-content-center">
                <h4>Контрактов не найдено</h4>
            </div>

        {% endif %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">Назад</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">Вперед</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}