{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% block title %}
    {{ contract.reg_number}}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="contract-header">Контракт №
                    <a href="http://zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber={{ contract.reg_number }}">
                        {{ contract.reg_number }}
                    </a>
                </h3>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="contract-header">Базовая информация</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Реестровый номер контракта</td>
                                <td>{{ contract.reg_number }}</td>
                            </tr>
                            <tr>
                                <td>Статус контракта</td>
                                <td>{{ contract.get_status_display }}</td>
                            </tr>
                            <tr>
                                <td>Дата заключения контракта</td>
                                {% language 'en' %}
                                    <td>{{ contract.start_date }}</td>
                                {% endlanguage %}
                            </tr>
                            <tr>
                                <td>Дата окончания исполнения контракта</td>
                                <td>{{ contract.end_date }}</td>
                            </tr>
                            <tr>
                                <td>Цена контракта</td>
                                <td>{{ contract.final_price|floatformat:2|intcomma }} рублей</td>
                            </tr>
                            <tr>
                                <td>Заказчик</td>
                                <td>
                                    <a href="/companies/{{ contract.customer_id }}/">
                                        {% if contract.customer.verbose_name %}
                                            {{ contract.customer.verbose_name }}
                                        {% else %}
                                            {{ contract.customer.name }}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Поставщик</td>
                                <td>
                                    <a href="/companies/{{ contract.provider_id }}/">
                                        {% if contract.provider.verbose_name %}
                                            {{ contract.provider.verbose_name }}
                                        {% else %}
                                            {{ contract.provider.name }}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="float-right" data-toggle="collapse" href="#common-more"
                           aria-expanded="false" aria-controls="common-more">
                            Подробнее...
                        </a>
                        <table class="table collapse" id="common-more">
                            {% if contract.notice_number %}
                                <tr>
                                    <td>Номер извещения об осуществлении закупки</td>
                                    <td>{{ contract.notice_number }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.purchase_code %}
                                <tr>
                                    <td>Идентификационный код закупки (ИКЗ)</td>
                                    <td>{{ contract.purchase_code }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.schedule_number %}
                                <tr>
                                    <td>Уникальный номер позиции плана-графика</td>
                                    <td>{{ contract.schedule_number }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.choose_provider_type %}
                                <tr>
                                    <td>Способ определения поставщика (подрядчика, исполнителя)</td>
                                    <td>{{ contract.get_choose_provider_type_display }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.choose_provider_date %}
                                <tr>
                                    <td>Дата подведения результатов определения поставщика (подрядчика, исполнителя)
                                    </td>
                                    <td>{{ contract.choose_provider_date }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.publish_date %}
                                <tr>
                                    <td>Дата размещения</td>
                                    <td>{{ contract.publish_date }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.props_verification %}
                                <tr>
                                    <td>Реквизиты документа, подтверждающего основание заключения контракта</td>
                                    <td>{{ contract.props_verification }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.local_number %}
                                <tr>
                                    <td>Номер контракта</td>
                                    <td>{{ contract.local_number }}</td>
                                </tr>
                            {% endif %}
                            {% if contract.start_price %}
                                <tr>
                                    <td>Начальная цена контракта</td>
                                    <td>{{ contract.start_price|floatformat:2|intcomma }} рублей</td>
                                </tr>
                            {% endif %}
                            {% if contract.finance_source %}
                                <tr>
                                    <td>Источник финансирования контракта</td>
                                    <td>{{ contract.get_finance_source_display }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="contract-header">Отчет по поставкам</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for supply in supplies %}
                            <div class="purchase-bar">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>{{ supply.name }}</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="float-right">
                                            {{ supply.supplied }} {{ supply.unit }}
                                            из {{ supply.all }} {{ supply.unit }}
                                        </div>
                                    </div>
                                </div>
                                <div class="progress" data-toggle="collapse" data-target="#{{ supply.id }}"
                                     aria-expanded="false" aria-controls="{{ supply.id }}">
                                    {% if supply.supplied == supply.all %}
                                        <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            100%
                                        </div>
                                    {% elif supply.supplied < supply.all %}
                                        <div class="progress-bar bg-warning" role="progressbar"
                                             style="width: {{ supply.percent }}%"
                                             aria-valuenow="{{ supply.percent }}" aria-valuemin="0"
                                             aria-valuemax="100">
                                            <b>{{ supply.percent }} %</b>
                                        </div>
                                    {% else %}
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{ supply.percent }}%"
                                             aria-valuenow="{{ supply.percent }}" aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ supply.percent }} %
                                        </div>
                                    {% endif %}
                                </div>
                                <table class="table collapse" id="{{ supply.id }}">
                                    <thead>
                                    <tr>
                                        <th>Документ</th>
                                        <th>Количество</th>
                                        <th>Дата</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for stage in supply.stages %}
                                        <tr>
                                            <td>{{ stage.document }}</td>
                                            <td>{{ stage.quantity }} {{ supply.unit }}</td>
                                            <td>{{ stage.date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="contract-header">Объекты закупки</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Единицы измерения</th>
                                <th>Количество</th>
                                <th>Цена за штуку</th>
                                <th>Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchase in purchases %}
                                <tr>
                                    <td>{{ purchase.name }}</td>
                                    <td>{{ purchase.unit }}</td>
                                    <td>{{ purchase.quantity }}</td>
                                    <td>{{ purchase.cost|floatformat:2|intcomma }}</td>
                                    <td>{{ purchase.cost|mul:purchase.quantity|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="contract-header">Этапы контракта</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Документ</th>
                                <th>Дата</th>
                                <th>Оплачено</th>
                                <th>Информация о нарушениях</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stage in stages %}
                                {% if stage.purchases %}
                                    <tr class="pointer subtable" data-toggle="collapse" data-target="#{{ stage.id }}"
                                        aria-expanded="false" aria-controls="{{ stage.id }}">
                                        {% else %}
                                    <tr>
                                {% endif %}
                            <td>{{ stage.stage.props_verification }}</td>
                            <td>{{ stage.stage.date }}</td>
                            <td>{{ stage.stage.payed|floatformat:2|intcomma }}</td>
                            <td>{{ stage.stage.mistake_information }}</td>
                            </tr>
                                {% if stage.purchases %}
                                    <tr class="subtable collapse" id="{{ stage.id }}">
                                        <td colspan="4">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Наименование</th>
                                                    <th>Единицы измерения</th>
                                                    <th>Количество</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for purchase in stage.purchases %}
                                                    <tr>
                                                        <td>{{ purchase.name }}</td>
                                                        <td>{{ purchase.unit }}</td>
                                                        <td>{{ purchase.quantity }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}