{% extends "base.html" %}
{% load static %}
{% block title %}
    Ошибка
{% endblock %}
{% block content %}
    <div class="container">
        <h2>По вашему запросу ничего не найдено. <a href="/contracts/">На главную</a>.</h2>
    </div>
{% endblock %}