{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Монитор закупок
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class=" col-12">
            <div class="card landing-main">
                <div class="card-body ">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card landing-card d-flex align-items-stretch">
                    <div class="card-header main-color">
                        <h3>Надежно</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">На сайте нет регламентных работ и техобслуживания, он работает 24/7!
                            Мы получаем информацию о изменении контракта в течении 15 минут после изменения на
                            госзакупках!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card landing-card">
                    <div class="card-header main-color">
                        <h3>Удобно</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Сайт обладает простым и удобным интерфейсом - не нужно долго
                            разбираться, что и как работает!</p>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-stretch">
                <div class="card landing-card">
                    <div class="card-header main-color">
                        <h3>Информативно</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Сайт предоставляет информацию о контрактах, компаниях, этапах исполения и объектах закупки!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>